<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CStransfer</title>
  <link rel="stylesheet" href="./static/styleteams.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="menu">
  <div id="menu-items">
    <a href="index.html" class="menu-item">Home</a>
    <a href="players.html" class="menu-item">Players</a>
    <a href="teams.html" class="menu-item">Teams</a>
    <a href="about.html" class="menu-item">About</a>
    <a href="FAQ.html" class="menu-item">FAQ</a>
  </div>
  <div id="menu-background-pattern"></div>
  <div id="menu-background-image"></div>
</div>
<!-- partial -->
  <script  src="./static/script.js"></script>

</body>
</html>
